* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial";
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    text-decoration: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

nav .mainMenu li a:hover{
    background: orange;
}

nav .openMenu {
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    display: none;
    cursor: pointer;
}

nav .logo {
    margin: 6px;
    cursor: pointer;
}

@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: orange;
    }
}




